certifi==2023.7.22
chardet==3.0.4
coreapi==2.3.3
coreschema==0.0.4
Django>=2.2.3
djangorestframework==3.15.2
idna==3.7
itypes==1.1.0
Jinja2>=2.10.1
MarkupSafe==1.1.0
Pygments==2.3.1
pytz==2018.7
requests==2.32.2
uritemplate==3.0.0
urllib3>=1.24.2
